.grid {
  display: flex;
  flex-wrap: wrap;
  .cell {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    &.dead {
      background-color: gray;
    }
    &.alive {
      background-color: orange;
    }
  }
}
